:root  > * {
  --md-primary-fg-color:        #058ea9;
  --md-primary-fg-color--light: #058ea9;
  --md-primary-fg-color--dark:  #058ea9;

   // Accent color shades
  --md-accent-fg-color:               #058ea9;
  --md-accent-fg-color--transparent:  #058ea9;
  --md-accent-bg-color:               #058ea9;
  --md-accent-bg-color--light:        #058ea9;
}